@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    top: 0;
}

body {
    background-color: #267693;
    display: flex;
    justify-content: center;
}


.form {
    margin-top: 134px;
    width: 406px;
    height: 424px;
    background-color: #fff;
    border-radius: 36px;
    display: flex;
    flex-direction: column;
    padding: 28px;
}

.form .title {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    line-height: 24.38px;
    font-weight: 900;
    margin-top: 3px;
    margin-left: 100px;
    color: #267693;
}

.username {
    margin-top: 25px;
}

.old-pass, .new-pass, .pass-verify {
    margin-top: 23px;
}

.label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 11px;
    line-height: 13.41px;
}

.input {
    margin-top: 8px;
}

.input input {
    height: 27px;
    width: 100%;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    border: 1px solid #83A7B5;
}

.buttons {
    margin-top: 41px;
    display: flex;
    justify-content: flex-end;
}

.buttons .login-btn {
    width: 127px;
    height: 33.03px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */
    color: #FFFFFF;
    border-style: none;
    background-color: #4E8FA7;
    margin-right: 16px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.buttons  a {
    width: 83.31px;
    height: 32.6px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */
    color: #FFFFFF;
    border-style: none;
    background-color: #FC0C0C;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    align-items: center;
    justify-content: center;
    display: flex;
}

